---
import PortableText from '@/components/PortableText.astro'
import { SanityImage } from '@/components/SanityImage'
import { Badge } from '@/components/ui/badge'
import { buttonVariants } from '@/components/ui/button'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { formatDate, metaDescriptionSlice } from '@/lib/utils'
import { runQuery } from '@/sanity'
import {
  projectSingleSelection,
  type SingleProjectsProps,
} from '@/sanity/projects'
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'
import { q } from 'groqd'
import { ExternalLink, Github } from 'lucide-react'

export const getStaticPaths = (async () => {
  async function getProjects() {
    return runQuery(
      q('*').filter("_type == 'project'").grab(projectSingleSelection),
    )
  }
  const projects: SingleProjectsProps[] = await getProjects()

  return projects.map((project) => {
    return {
      params: {
        slug: project.slug || '',
      },
      props: { ...project },
    }
  })
}) satisfies GetStaticPaths

export type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { ...project } = Astro.props
export const prerender = true
---

<BaseLayout
  title={`Project - ${project.title}`}
  description={metaDescriptionSlice(project.body)}
>
  <section class="grid items-center">
    <div class="flex flex-col items-start">
      <div>
        {
          project.title && (
            <h1 class="pb-2 text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl">
              {project.title.toLocaleUpperCase()}
            </h1>
          )
        }
        <div class="mb-8">
          <p class="text-base tracking-tight">
            Project created on {formatDate(project.createdAt)}
          </p>
        </div>
      </div>
      <div
        class="pb-8 text-justify text-base text-muted-foreground paragraph:hyphens-auto anchor:font-medium anchor:underline anchor:underline-offset-4 list:mb-0 list:mt-5 list:list-disc list:pl-6 listItem:my-2 listItem:pl-1.5"
      >
        <PortableText portableText={project.body} />
      </div>
      <div class="mb-8 flex gap-2">
        {
          project.projectLink && (
            <a
              href={project.projectLink}
              class:list={[buttonVariants(), 'transition-none']}
              target="_blank"
              rel="noreferrer"
            >
              <ExternalLink className="mr-2 h-4 w-4" />
              Website
            </a>
          )
        }
        {
          project.repositoryLink && (
            <a
              href={project.repositoryLink}
              class:list={[
                buttonVariants({ variant: 'outline' }),
                'transition-none',
              ]}
              target="_blank"
              rel="noreferrer"
            >
              <Github className="mr-2 h-4 w-4" />
              Source
            </a>
          )
        }
      </div>
      {
        project.skills && (
          <div class="mb-8 flex flex-wrap gap-2">
            {project.skills.map((skill) => (
              <Badge className="transition-none" variant="secondary">
                {skill.title}
              </Badge>
            ))}
          </div>
        )
      }
      {
        project.mainImage && (
          <SanityImage
            id={project.mainImage.asset._ref}
            alt={project.mainImage?.altText}
            width={1280}
            sizes="(max-width: 767px) 720px, (min-width: 768px) 1280px"
            className="mb-8 aspect-video rounded-lg border object-cover"
          />
        )
      }
      {
        project.projectImages &&
          project.projectImages.map((projectImage) => (
            <SanityImage
              id={projectImage.asset._ref}
              alt={projectImage?.altText}
              width={1280}
              sizes="(max-width: 767px) 720px, (min-width: 768px) 1280px"
              className="mb-8 aspect-video rounded-lg border object-cover"
            />
          ))
      }
    </div>
  </section>
</BaseLayout>
